{% extends "base.html" %}

{% block header %}
    <h2>{% block title %}Posts{% endblock %}</h2>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article>
            <p class="message">{{ post['message'] }}</p>
            <aside>
                <div class="post-actions">
                    <form action="{{ url_for('posts.delete', post_id=post.id) }}" 
                    method="POST" style="display: inline;">
                        <button type="submit" class="delete-btn">Delete Post</button>
                    </form>
                </div>
                Posted by {{ post['author'] }} on 
                {{ post['created'].strftime('%b %d, %Y at %I:%M%p') }}
            </aside>
        </article>
    {% endfor %}
{% endblock %}